@import url("reset.css");

/*Селектор тегу р. Текст зеленого кольору в усіх р*/
p {
	color: green;
}
/*Селектор класу. Звернення до всіх елементів з класом .text. Текст червоного кольору. Працює сильніше ніж селектор тегу. */
.text {
	color: red;
}
/*Селектор ID. Звернення до елемента з атрибутом id="introduction". ID унікальний. Текст синього кольору. Працює сильніше ніж селектор класу і тегу. */
#introduction {
	color: blue;
}
/*Селектор атрибута. Звернення до всіх елементів з атрибутом title. Текст помаранчевого кольору. Працює сильніше ніж селектор тегу, але слабше ніж класу і ID. */
[title] {
	color: orange;
}
/* Селектор вкладеності.
Звернення до всіх елементів p, які знаходяться всередині елемента з класом .article.
Текст блакитного кольору.
Має вищу специфічність ніж селектор тегу і може бути сильнішим за селектор атрибута залежно від специфічності. */
.article p {
	color: teal;
}
/*Прямий нащадок. Звернення до всіх елементів section, які є безпосередніми (першого рівня)нащадками елемента з класом .article. Текст коричневого кольору. Більш точний селектор,ніж вкладеність, бо обирає лише перший рівень вкладення. */
.article > section {
	color: brown;
}
/*Селектор вкладеності. Звернення до всіх елементів а, які знаходяться всередині елемента з класом .list. Текст червоного кольору. Працює через структуру HTML, має вищу специфічність ніж селектори тегу або атрибуту, тому може їх перекривати.*/
.list a {
	color: red;
}
/*Групування селекторів. "," означає і, тобто застосувати до кількох селекторів.*/
.text,
.title {
	color: green;
}
/*Комбінації селекторів.*/
/*Комбінація клас + тег. p які мають клас .text*/
p.text {
	color: blue;
}
/*два класи разом. елемент має бути з двома класами одночасно.*/
.title.big {
	color: purple;
}